.blueBlock {
  display: flex;
  width: 100%;
}
.blueBlockRight {
  width: 50%;
}
.blueBlockLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  color: white;
}
.blueBlockLeftTextContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (max-width: 1024px) {
  .blueBlock {
    display: block;
    min-height: auto;
  }
  .blueBlockRight {
    width: 100%;
  }
  .blueBlockLeft {
    width: 100%;
  }
}
