.biography {
  width: 100%;
  height: auto;
  display: flex;
  background-image: url(../../../../public/imgs/structure/management-background.jpg);
  object-fit: cover;
  background-repeat: no-repeat;
}
.image {
  width: 45%;
  object-fit: cover;
  background-image: url(../../../../public/imgs/structure/avatar.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.head {
  text-align: center;
}
.head h3 {
  margin-top: 0;
  color: #0f1d89;
}
.head h2 {
  margin-bottom: 0;
}
.biographyText {
  width: 55%;
  height: 100%;
  padding: 12px;
}
.title {
  font-size: 22px;
  color: #0f1d89;
  border-left: #0f1d89 solid 3px;
  padding-left: 5px;
  margin-bottom: 0;
}
.text {
  font-size: 14px;
  margin-top: 0;
}
.imageUnit {
  display: flex;
  align-items: center;
  text-align: start;
  gap: 10px;
}
.imageUnit p {
  font-size: 20px;
  font-weight: 700;
}
.imageCircle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #0f1d89;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageCircle img {
  width: 60%;
}
