.biography {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  background-image: url(../../../../public/imgs/structure/management-background.jpg);
  object-fit: cover;
  background-repeat: no-repeat;
}
.biographyImg {
  width: 400px;
}
.head {
  text-align: center;
}
.head h3 {
  margin-top: 0;
  color: #0f1d89;
}
.head h2 {
  margin-bottom: 0;
}
.content {
  max-width: 1344px;
  padding: 0 20px 40px 20px;
}
.biographyText {
  padding: 0 20px 0 20px;
}
.title {
  font-size: 22px;
  color: #0f1d89;
  border-left: #0f1d89 solid 3px;
  padding-left: 5px;
  margin-bottom: 0;
}
.text {
  font-size: 14px;
  margin-top: 0;
}
.imageUnit {
  display: flex;
  align-items: center;
  text-align: start;
  gap: 10px;
}
.imageUnit p {
  font-size: 20px;
  font-weight: 700;
}
.imageCircle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #0f1d89;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.imageCircle img {
  width: 30px;
}
.contacts {
  display: flex;
  gap: 30px;
  align-self: flex-start;
}
.contacts p {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 18px;
}
.contacts img {
  width: 30px;
}
@media (max-width: 500px) {
  .contacts {
    display: block;
  }
}
@media (max-width: 450px) {
  .biographyImg {
    width: 75%;
  }
  .imageCircle {
    width: 40px;
    height: 40px;
  }
  .imageCircle img {
    width: 20px;
  }
  .imageUnit p {
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .content {
    padding: 0 10px 20px 10px;
  }
  .contacts p {
    font-size: 16px;
  }
}
