.manageProjects {
  max-width: 350px;
}
.manageProjects ul {
  padding-left: 0;
}
.manageProjects h3 {
  text-align: center;
  font-size: 26px;
  color: white;
}
.manageProjects p {
  font-size: 14px;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 16px;
}
.projectsCard {
  list-style: none;
}
.projectsCard div {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 15px 0 15px;
}
.projectsCard img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.projectsCard :hover {
  background-color: rgb(23, 79, 233);
}
