#UNOSlider .swiper-pagination-bullets {
  text-align: start;
  padding-left: 30px;
  padding-bottom: 20px;
}
@media (max-width: 520px) {
  #UNOSlider .swiper-pagination-bullets {
    padding-left: 10px;
  }
}
