.UNOtitle {
  width: 100%;
  height: 180px;
  background-color: #0f1d89;
  display: flex;
  align-items: flex-end;
}
.UNOtitleTextContainer {
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  color: white;
  text-transform: uppercase;
}
.UNOmainSlider {
  width: 100%;
  max-height: 1100px;
  height: calc(65vh - 50px);
  position: relative;
}
.UNOmainSlide {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(102, 102, 102, 0) 100%
  );
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
}
.UNOmainSlide img {
  width: 100%;
  height: 100%;
  min-height: 500px;
  max-height: 1100px;
  object-fit: cover;
  position: relative;
  z-index: -2;
}

.UNOMainSliderContainer {
  position: absolute;
  padding-left: 50px;
  width: 100%;
}
.UNOmainSlideTextContainer {
  width: 100%;
  height: 80%;
  padding: 12px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  text-align: start;
}
.UNOmainSlideTextContainer h2 {
  font-weight: 400;
}
.UNOmainSlideTextContainer h3 {
  line-height: 99%;
  text-align: start;
  max-width: 500px;
}
.UNOmainSlideTextContainer p {
  text-align: justify;
  line-height: 90%;
  max-width: 500px;
}
.UNOAnonsSlider {
  height: 100%;
  max-width: 1280px;
  max-height: 1080px;
}
.TextPart {
  padding-left: 80px;
}
.media {
  width: 120%;
  border-top: white solid 2px;
  display: flex;
  justify-content: space-around;
}
.media a {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.media p {
  text-align: center;
  margin-left: 0 !important;
}
.TextPart div div {
  display: flex;
  align-items: center;
}
.TextPart div p {
  margin-left: 25px;
}
.TextPart h1 {
  font-size: 60px;
}
.TextPart .email {
  width: 65px;
  height: 52px;
}
.TextPart .address {
  width: 50px;
  height: 71px;
}
.TextPart .telephone {
  width: 50px;
  height: 52px;
}
@media (max-width: 1280px) {
  .UNOmainSlideTextContainer {
    width: 400px;
  }
  .TextPart h1 {
    font-size: 55px;
  }
}
@media (max-width: 1024px) {
  .UNOmainSlide img {
    max-height: 600px;
  }
  .TextPart h1 {
    font-size: 50px;
  }
}
@media (max-width: 520px) {
  .UNOmainSlider {
    height: calc(70vh - 50px);
  }
  .UNOmainSlideTextContainer {
    width: 300px;
  }
  .UNOMainSliderContainer {
    padding-left: 10px;
  }
  .TextPart {
    padding-left: 20px;
  }
  .TextPart h1 {
    font-size: 35px;
  }
}
@media (max-width: 430px) {
  .TextPart .email {
    width: 48px;
    height: 38px;
  }
  .TextPart .address {
    width: 37px;
    height: 52px;
  }
  .TextPart .telephone {
    width: 37px;
    height: 38px;
  }
  .media a img {
    width: 70%;
  }
  .TextPart h1 {
    font-size: 25px;
  }
}
@media (max-width: 380px) {
  .UNOmainSlideTextContainer h3 {
    font-size: 22px;
  }
  .UNOmainSlideTextContainer p {
    font-size: 18px;
  }
  .UNOmainSlideTextContainer {
    width: 280px;
    padding-left: 10px;
  }
  .media {
    width: 100%;
  }
}
