.section {
  padding: 40px 140px 60px 140px;
  background-image: url("/public/imgs/backgrounds/bg-white.png");
  background-size: contain;
}
.markdown p {
  font-size: 16px;
}
.title {
  font-size: 40px;
  text-align: center;
  font-weight: 600;
}
@media (max-width: 1300px) {
  .section {
    padding: 20px 40px 40px 40px;
  }
}

@media (max-width: 800px) {
  .section {
    background-image: none;
    padding: 10px 20px 20px 20px;
  }
}
