.MobileHeader {
  width: 100%;
  height: 100px;
  background-color: #0f1d89;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
}
@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.navbar {
  max-width: 1150px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 5px 0 5px;
  opacity: 0;
  animation: ani 1.5s forwards;
}
.logotype {
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
}
.logotype img {
  width: 80px;
}
.logoText {
  width: 100%;
  min-width: 400px;
}
.logoH {
  font-size: 18px;
  margin: 0;
}
.logoHM {
  margin: 0;
  font-size: 14px;
}
.headerItems {
  display: flex;
  align-items: center;
  padding-right: 5px;
}
.headerItems img {
  width: 100%;
}
.headerItems a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}
@media (min-width: 1150px) {
  .navbar {
    max-width: 2560px;
  }
}
@media (max-width: 1280px) {
  .dropdown button {
    font-size: 13px;
  }
}
@media (max-width: 1150px) {
  .logotype img {
    width: 70px;
  }
}
@media (max-width: 800px) {
  .logotype {
    padding-left: 10px;
  }
  .logotype img {
    width: 60px;
  }
  .logo-text {
    min-width: 300px;
  }
}
@media (max-width: 520px) {
  .logotype {
    padding-left: 10px;
    width: 80px;
    height: auto;
  }
  .logo-text {
    display: none;
  }
}
@media (max-width: 420px) {
  .logoH {
    display: none;
  }
  .logoHM {
    display: none;
  }
}
