.swiper-pagination-bullet {
  background-color: white !important;
  width: 60px !important;
  height: 5px !important;
  border-radius: 2px !important;
  bottom: 30px !important;
}
.swiper-button-prev,
.swiper-button-next {
  color: #0f1d89 !important;
  font-weight: 600;
  background-color: white;
  width: 60px !important;
  height: 60px !important;
  border-radius: 50%;
}
#verticalSwiperManagements .swiper-button-next {
  left: 0 !important;
  right: 0 !important;
  top: var(--swiper-navigation-top-offset, 95%) !important;
  justify-self: anchor-center;
  rotate: 90deg;
}
#verticalSwiperManagements .swiper-button-prev {
  left: 0;
  right: 0;
  top: var(--swiper-navigation-top-offset, 5%) !important;
  justify-self: anchor-center;
  rotate: 90deg;
}
@media (max-width: 1380px) {
  #firstSlider .swiper-pagination-bullets {
    text-align: start;
    padding-left: 10px;
    padding-bottom: 20px;
  }
}
@media (min-width: 1380px) {
  #firstSlider .swiper-pagination-bullets {
    text-align: start;
    max-width: 1340px;
    padding-left: calc((100vw - 1344px) / 2);
    padding-bottom: 20px;
  }
}
@media (max-width: 900px) {
  #secondSlider {
    height: calc(80vh - 50px);
  }
}
@media (max-width: 800px) {
  .swiper-pagination-bullet {
    width: 50px !important;
    height: 5px !important;
  }
}
@media (max-width: 430px) {
  .swiper-pagination-bullet {
    width: 40px !important;
    height: 5px !important;
  }
}

#secondSlider .swiper-pagination-bullets {
  text-align: start;
  padding-left: 10px;
  padding-bottom: 20px;
}

#verticalSwiperManagements .swiper-slide {
  width: 50% !important;
}
#managementSlider .swiper-pagination-bullets {
  text-align: start;
  padding-left: 40px;
  padding-bottom: 20px;
}
