.results {
  display: flex;
  width: 100%;
  height: calc(90vh - 50px);
  max-height: 1080px;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: white;
  text-align: center;
}
.info img {
  width: 20%;
  padding-top: 10px;
}
.aboutBtn {
  width: 250px;
  height: 65px;
  background-color: white;
  border-radius: 14px;
  border: none;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutBtn a {
  text-decoration: none;
  color: #0f1d89 !important;
}
.aboutBtn:hover {
  transform: scale(1.02);
  transition: 0.5s;
}
.info p {
  line-height: 99%;
  font-weight: 300;
  text-align: justify;
  padding: 0 80px;
}
.info h3 {
  line-height: 100%;
  margin-top: 0;
}
.infoTextContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (max-width: 1280px) {
  .info p {
    padding: 0 20px;
  }
}
@media (max-width: 1150px) {
  .info p {
    font-size: 20px;
  }
  .info h3 {
    font-size: 24px;
  }
}
@media (max-width: 900px) {
  .results {
    display: block;
    height: auto;
    max-height: 1800px;
  }
  .ResultsSlider {
    width: 100%;
  }
  .info {
    width: 100%;
  }
}
@media (max-width: 620px) {
  .aboutBtn {
    width: 200px;
    height: 65px;
    font-size: 20px;
  }
}
@media (max-width: 430px) {
  .info h3 {
    font-size: 26px;
  }
  .info p {
    font-size: 22px;
    padding: 0 20px;
  }
  .aboutBtn {
    width: 180px;
    height: 58px;
    font-size: 20px;
  }
}
@media (max-width: 360px) {
  .info h3 {
    font-size: 24px;
  }
  .info p {
    font-size: 20px;
    padding: 0 20px;
  }
  .aboutBtn {
    width: 180px;
    height: 58px;
    font-size: 20px;
  }
}
