header {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
}
.topColor {
  background-color: #0f1d89;
}
.navbarHead {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.navbar {
  width: 1440px;
  height: 100%;
}
.bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid white;
  flex-wrap: wrap;
  padding-top: 5px;
}
.navbarContainer {
  width: 100%;
  height: 65%;
  display: flex;
  align-items: end;
}
.logotype {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding-left: 5px;
}
.logotype img {
  width: 14%;
}
.logoText {
  width: 600px;
}
.logoH {
  font-size: 18px;
  margin-bottom: 5px;
  margin-top: 8px;
}
.logoHM {
  margin-top: 0;
  font-size: 14px;
}
.headerItems {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 5px;
}
.headerItems img {
  width: 100%;
}
.headerItems a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}
.manageProjects {
  min-width: 250px;
  max-width: 300px;
  color: white;
}
@media (max-width: 1280px) {
  .dropdown button {
    font-size: 13px;
  }
}
