header {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
}
@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.topColor {
  background-color: #0f1d89;
}
.navbarHead {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 5px 0;
}
.navbar {
  width: 1344px;
  height: 100%;
  padding: 0 5px 0 5px;
  opacity: 0;
  animation: ani 1.5s forwards;
}
.bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid white;
  flex-wrap: wrap;
  padding-top: 5px;
}
.navbarContainer {
  width: 100%;
  height: 65%;
  display: flex;
  align-items: end;
}
.logotype {
  color: white;
  display: flex;
  gap: 5px;
}
.logotype img {
  width: 85px;
}
.logoText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logoH {
  font-size: 20px;
  margin: 0;
}
.logoHM {
  margin: 0;
  font-size: 14px;
}
.headerItems {
  display: flex;
  align-items: center;
  gap: 20px;
}
.headerItems img {
  width: 100%;
}
.headerItems a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}
.manageProjects {
  min-width: 250px;
  max-width: 300px;
  color: white;
}
@media (max-width: 1280px) {
  .dropdown button {
    font-size: 13px;
  }
}
